/*-->
CUSTOM FONTS
<--*/

@font-face {
    font-family: 'Opensanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#Opensanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Opensansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#Opensansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Opensanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#Opensanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{font-family: 'Opensansregular'; font-size: 14px; color: #333333; background-color: #eff1f3;}
ul{ list-style: none; margin: 0px; padding: 0px;}
a{ color: #3e4095;}
.mar-t10 {
    margin-top: 10px;
}

.container{max-width: 1180px;}
.form-control {
    box-shadow: none;
    height: 45px;
    border: 1px solid #bfbfbf;
}
.btn-primary {
    background-color: #ed3237;
    border-color: #ed3237;
    text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: #c20d12;
    border-color: #ed3237;
}

.radio label, .checkbox label {
    padding-left: 30px;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    opacity: 0;
}
.radio-inline, .checkbox-inline {
    position: relative;
    padding-left: 30px;
}
.checkbox input[type=checkbox] ~ .check-radio, .checkbox-inline input[type=checkbox] ~ .check-radio,
.radio input[type=radio] ~ .check-radio, .radio-inline input[type=radio] ~ .check-radio{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #bfbfbf;
    background: #fff;
    border-radius: 3px;
    left: 0px;
    transition: all 0.1s ease-out;
}

.radio input[type=radio] ~ .check-radio, .radio-inline input[type=radio] ~ .check-radio {
    border-radius: 10px;
}

.checkbox input[type=checkbox]:checked ~ .check-radio, .checkbox-inline input[type=checkbox]:checked ~ .check-radio {
    background: url('../img/check-mark.svg') no-repeat center center #3e4095;
    background-size: 12px;
    border-color: #3e4095;
}
.radio input[type=radio]:checked ~ .check-radio, .radio-inline input[type=radio]:checked ~ .check-radio {
    background: url('../img/radio-mark.svg') no-repeat center center #fff;
    background-size: 12px;
    border-color: #3e4095;
}

/* LOGIN CSS STARTS HERE */
.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;    
    box-shadow: 0px 30px 50px rgba(0,0,0,0.15);
}
.login-title {
    background-color: #3e4095;
    color: #fff;
    margin: 0px;
    text-align: center;
    margin: -20px -20px 20px -20px;
    padding: 15px;
    text-transform: uppercase;
}
.login-container .btn {
    height: 45px;
    text-transform: uppercase;
    font-family: 'Opensanssemibold';
    font-size: 16px;
}
.login-links {
    margin-top: 40px;
    text-align: center;
}
/* LOGIN CSS ENDS HERE */

.side-bar {
    background-color: #3e4095;
    color: #fff;
    height: 200vh;
    max-height:100%;
    width: 20%;
}
.main-container {
    width: 80%;
}
.logo {
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1;

}
.logo a {
    color: #fff;  
    font-size: 20px;
}

.logo img {
    height: 70px;
    width: auto !important;
}

.atnlogo1 {
    padding: 10px;
    border-bottom: 1px solid #3e4095;
    text-align: center;
    height: 50px;
}
.navbar-default {
    border-radius: 0px;
    border: 0px none;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #fff;
}
.sidebar-nav {
    margin-top: 15px;
}
.sidebar-nav li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 10px 15px;
    transition: all 0.25s ease-out;
    position: relative;
}
.sidebar-nav > li a {
    color: white;
    display: block;
    position: relative;
    padding-left: 30px;
}
.sidebar-nav>li> a >img {
    width: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.sidebar-nav > li:hover,
.sidebar-nav > li.active{
    background-color: rgba(0,0,0,0.1);
}
.sidebar-nav > li:hover > a,
.sidebar-nav > li.active > a{
    color: #fff;
    text-decoration: none;
}
.sidebar-nav > li .glyphicon {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.sidebar-nav > li .glyphicon:before {
    padding-left: 10px;
    margin-top: 15px;
    display: block;    
}
.sub-nav {
    display: none;
    background-color: rgba(0,0,0,0.3); 
    margin: 10px -15px -11px;
}
.sidebar-nav > li.active .sub-nav {
    display: block;    
}
.sidebar-nav > li.active .sub-nav a {
    color: #fff;    
}
.page-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.page-title h3 {
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
}
.page-title .btn {
    float: right;
    margin-top: 5px;
}
.table {
    background-color: #fff;
}
.button-block {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-bottom: 30px;
}

.footer {
    margin-top: 30px;
    border-top: 1px solid #dcdcdc;
    padding-top: 20px;
    color: #9c9c9c;
    text-align: center;
    padding-bottom: 30px;
    font-size: 12px;
}

.error {
color: #a94442;
}

.main-tab > .tab-pane {
    padding: 20px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.sub-tab > .tab-pane {
    padding: 20px 0px;
}
.sub-tabs.nav-tabs>li.active>a, .sub-tabs.nav-tabs>li.active>a:hover, .sub-tabs.nav-tabs>li.active>a:focus {
    border: 0px none;
    color: #ed3237;
    font-family: 'Opensanssemibold';
    position: relative;
}
.sub-tabs.nav-tabs>li.active>a:after {
    position: absolute;
    height: 3px;
    width: 100%;
    content: '';
    bottom: -2px;
    left: 0px;
    background-color: #ed3237;
    
}
.sub-tabs.nav-tabs>li>a {
    padding: 10px 0px;
}
.sub-tabs.nav-tabs>li + li {
    padding-left: 15px;
}
.sub-tabs.nav-tabs>li>a:hover {
    background: none;
    border-color:transparent;
    color: #ed3237;
}
.m-t-30 {
    margin-top: 30px;
}
.show-btn {
    height: 45px;
}
@media screen and (min-width: 992px){

}

@media screen and (min-width: 768px){
    .login-container {
        width: 400px;
        padding: 20px;
    }
    .container-wrapper {
    background: #3e4095;
    background: -moz-linear-gradient(left, #3e4095 0%, #3e4095 20%, #eff1f3 20%, #eff1f3 100%);
    background: -webkit-linear-gradient(left, #3e4095 0%,#3e4095 20%,#eff1f3 20%,#eff1f3 100%);
    background: linear-gradient(to right, #3e4095 0%,#3e4095 20%,#eff1f3 20%,#eff1f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4095', endColorstr='#eff1f3',GradientType=1 );    
    }    
    .navbar-nav {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .show-btn {
        margin-top: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    
}

@media screen and (max-width: 991px){

}

@media screen and (max-width: 767px){
    .login-container {
        width: 300px;
        padding: 20px;
    }
}

