span.cls_002{font-family:"Calibri Bold",serif;font-size:20.7px;color:rgb(51,102,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:"Calibri Bold",serif;font-size:20.7px;color:rgb(51,102,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:"Cambria Bold",serif;font-size:9.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:"Cambria Bold",serif;font-size:9.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:"Cambria",serif;font-size:9.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:"Cambria",serif;font-size:9.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:"Cambria",serif;font-size:6.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:"Cambria",serif;font-size:6.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:"Cambria",serif;font-size:9.4px;color:rgb(107,158,36);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:"Cambria",serif;font-size:9.4px;color:rgb(107,158,36);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:"Cambria Bold",serif;font-size:9.4px;color:rgb(255,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:"Cambria Bold",serif;font-size:9.4px;color:rgb(255,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:"Cambria Bold",serif;font-size:9.4px;color:rgb(35,31,31);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:"Cambria Bold",serif;font-size:9.4px;color:rgb(35,31,31);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:"Cambria Bold",serif;font-size:9.4px;color:rgb(0,0,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:"Cambria Bold",serif;font-size:9.4px;color:rgb(0,0,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:"Calibri",serif;font-size:7.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:"Calibri",serif;font-size:7.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:"Cambria",serif;font-size:9.4px;color:rgb(35,31,33);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:"Cambria",serif;font-size:9.4px;color:rgb(35,31,33);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:9.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:9.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_013{font-family:"Cambria Bold",serif;font-size:6.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_013{font-family:"Cambria Bold",serif;font-size:6.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_014{font-family:"Cambria Bold",serif;font-size:18.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_014{font-family:"Cambria Bold",serif;font-size:18.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_015{font-family:"Cambria",serif;font-size:9.4px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_015{font-family:"Cambria",serif;font-size:9.4px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_016{font-family:"Cambria Bold Italic",serif;font-size:9.4px;color:rgb(15,35,61);font-weight:bold;font-style:italic;text-decoration: none}
div.cls_016{font-family:"Cambria Bold Italic",serif;font-size:9.4px;color:rgb(15,35,61);font-weight:bold;font-style:italic;text-decoration: none}