/*-->
CUSTOM FONTS
<--*/

@font-face {
    font-family: 'Opensanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#Opensanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Opensansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#Opensansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Opensanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#Opensanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{font-family: 'Opensansregular'; font-size: 14px; color: #333333; background-color: #eff1f3;}
ul{ list-style: none; margin: 0px; padding: 0px;}
a{ color: #0057a1;}


.container{max-width: 1180px;}
.form-control {
    box-shadow: none;
    height: 45px;
    border: 1px solid #bfbfbf;
}
.btn-primary {
    background-color: #84c64c;
    border-color: #84c64c;
    text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: #6bb32e;
    border-color: #84c64c;
}

.radio label, .checkbox label {
    padding-left: 30px;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    opacity: 0;
}
.radio-inline, .checkbox-inline {
    position: relative;
    padding-left: 30px;
}
.checkbox input[type=checkbox] ~ .check-radio, .checkbox-inline input[type=checkbox] ~ .check-radio,
.radio input[type=radio] ~ .check-radio, .radio-inline input[type=radio] ~ .check-radio{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #bfbfbf;
    background: #fff;
    border-radius: 3px;
    left: 0px;
    transition: all 0.1s ease-out;
}

.radio input[type=radio] ~ .check-radio, .radio-inline input[type=radio] ~ .check-radio {
    border-radius: 10px;
}

.checkbox input[type=checkbox]:checked ~ .check-radio, .checkbox-inline input[type=checkbox]:checked ~ .check-radio {
    background: url('../img/check-mark.svg') no-repeat center center #0057a1;
    background-size: 12px;
    border-color: #0057a1;
}
.radio input[type=radio]:checked ~ .check-radio, .radio-inline input[type=radio]:checked ~ .check-radio {
    background: url('../img/radio-mark.svg') no-repeat center center #fff;
    background-size: 12px;
    border-color: #0057a1;
}

/* LOGIN CSS STARTS HERE */
.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;    
    box-shadow: 0px 30px 50px rgba(0,0,0,0.15);
}
.login-title {
    background-color: #0057a1;
    color: #fff;
    margin: 0px;
    text-align: center;
    margin: -20px -20px 20px -20px;
    padding: 15px;
    text-transform: uppercase;
}
.login-container .btn {
    height: 45px;
    text-transform: uppercase;
    font-family: 'Opensanssemibold';
    font-size: 16px;
}
.login-links {
    margin-top: 40px;
    text-align: center;
}
/* LOGIN CSS ENDS HERE */

.side-bar {
    background-color: #0057a1;
    color: #fff;
    height: 100vh;
    width: 20%;
}
.main-container {
    width: 80%;
}
.logo {
    padding: 10px;
    border-bottom: 1px solid #1a68ab;
    text-align: center;
    height: 50px;
}
.logo a {
    color: #fff;  
    font-size: 20px;
}
.navbar-default {
    border-radius: 0px;
    border: 0px none;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #fff;
}
.sidebar-nav {
    margin-top: 15px;
}
.sidebar-nav li {
    border-bottom: 1px solid #1263a8;
    padding: 10px 15px;
    transition: all 0.25s ease-out;
    position: relative;
}
.sidebar-nav > li a {
    color: #b3cde3;
    display: block;
}
.sidebar-nav > li:hover,
.sidebar-nav > li.active{
    background-color: #0d60a6;
}
.sidebar-nav > li:hover > a,
.sidebar-nav > li.active > a{
    color: #fff;
    text-decoration: none;
}
.sidebar-nav > li .glyphicon {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.sidebar-nav > li .glyphicon:before {
    padding-left: 10px;
    margin-top: 15px;
    display: block;    
}
.sub-nav {
    display: none;
    background-color: #2670af; 
    margin: 10px -15px -11px;
}
.sidebar-nav > li.active .sub-nav {
    display: block;    
}
.sidebar-nav > li.active .sub-nav a {
    color: #fff;    
}
.page-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.page-title h3 {
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
}
.page-title .btn {
    float: right;
    margin-top: 5px;
}
.table {
    background-color: #fff;
}
.button-block {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-bottom: 30px;
}

.footer {
    margin-top: 30px;
    border-top: 1px solid #dcdcdc;
    padding-top: 20px;
    color: #9c9c9c;
    text-align: center;
    padding-bottom: 30px;
    font-size: 12px;
}
@media screen and (min-width: 992px){

}

@media screen and (min-width: 768px){
    .login-container {
        width: 400px;
        padding: 20px;
    }
    .container-wrapper {
    background: #0057a1;
    background: -moz-linear-gradient(left, #0057a1 0%, #0057a1 20%, #eff1f3 20%, #eff1f3 100%);
    background: -webkit-linear-gradient(left, #0057a1 0%,#0057a1 20%,#eff1f3 20%,#eff1f3 100%);
    background: linear-gradient(to right, #0057a1 0%,#0057a1 20%,#eff1f3 20%,#eff1f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0057a1', endColorstr='#eff1f3',GradientType=1 );    
    }    
}

@media screen and (min-width: 768px) and (max-width: 991px){
    
}

@media screen and (max-width: 991px){

}

@media screen and (max-width: 767px){
    .login-container {
        width: 300px;
        padding: 20px;
    }
}

.menu-active{
    background: white;
}
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}